* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/061/403/non_2x/soccer-field-with-soccer-ball-background-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

h1 {
    font-size: 28px;
}

.contenido,
.contenido2 {
    max-width: 500px;
    margin: 80px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.contenido {
    float: left;
}

.contenido2 {
    float: right;
}

.contenido img,
.contenido2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.contenido p,
.contenido2 p {
    font-size: 18px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
    color: #fff;
}

.menu {}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #333;
}

.cartas1 {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.cartas1 img {
    width: 280px;
    height: auto;
    margin-right: 40px;
}

.cartas2 {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea a la derecha */
    margin-top: 80px;
}

.cartas2 img {
    width: 280px;
    height: auto;
    padding: 20px;
    margin-right: 40px;
}

.num-car {
    font-size: 80px;
    font-weight: bold;
}
